<% provide(:title, t("pages.detail")) %>
<div class="container detail_page">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><img src="/assets/computer.jpg" alt="">
            </div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="/assets/computer.jpg" alt=""></a>
            </li>
            <li><a data-target="#pic-2" data-toggle="tab"><img src="/assets/computer.jpg" alt=""></a>
            </li>
            <li><a data-target="#pic-3" data-toggle="tab"><img src="/assets/computer.jpg" alt=""></a>
            </li>
            <li><a data-target="#pic-4" data-toggle="tab"><img src="/assets/computer.jpg" alt=""></a>
            </li>
            <li><a data-target="#pic-5" data-toggle="tab"><img src="/assets/computer.jpg" alt=""></a>
            </li>
          </ul>
        </div>
        <div class="details col-md-6">
          <h3 class="product-title">Macbook Air Pro 2021</h3>
          <div class="rating">
            <div class="stars"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span>
            </div> <span class="review-no">123 đánh giá</span>
          </div>
          <p class="product-description">Apple MacBook Air, MacBook Pro 13 inch và Mac mini thế hệ tiếp theo vừa ra mắt được vận hành bởi Apple M1, bộ vi xử lý đột phá của công ty dành riêng cho Mac.
          Trong một sự kiện diễn ra vào đêm qua 11/11 giờ Việt Nam, Apple đã giới thiệu những mẫu máy tính mới đi cùng với con chip M1 mà theo công ty sẽ làm thay đổi cách người dùng trải nghiệm dòng máy Mac.</p>
          <h4 class="price">Giá bán: 1.000.000 đ</h4>
          <div class="about_product">
            <p>- Mã hàng: 70251603</p>
            <p>- Bảo hành: 12 Tháng</p>
            <p>- Hãng sản xuất: Apple</p>
            <p>- Xuất xứ: Chính Hãng</p>
          </div>
          <div class="action">
            <a href="#" target="_blank">
              <button class="add-to-cart btn btn-default" type="button">MUA NGAY</button>
            </a>
            <a href="#" target="_blank">
              <button class="add-to-cart btn btn-default" type="button">THÊM VÀO GIỎ HÀNG</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
