<%= form_for(@order, url: admin_order_path, id: "search-form", class:"form-inline form-change-status") do |f| %>
  <span class="status-change-title"><%= t "orders.status" %></span>
  <%= render_select_tag %>
  <%= f.submit t("orders.change"), class: "change-order-btn" %>
<% end %>
