@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "color";


/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: $color-white;
  text-decoration: none;
}

.cart_page {
  margin-top: 0;
  padding-top: 86px;
}

.product-img {
  width: 262px;
  height: 300px;
}

.header {
  position: relative;
}

.login_container {
  padding: 20px;
}

.login_btn {
  margin-top: 20px;
}

.checkbox_rm {
  margin-bottom: 1px;
  margin-top: 10px;
  display: block;
  span {
    font-weight: normal;
    margin-left: 1px;
  }
}
#session_remember_me {
  margin-left: 0;
  width: auto;
}

.alert-notice {
  background-color: $color-success;
}
.alert-alert {
  background-color: $color-danger;
}

.Facebook {
  color: $color-white;
}

.GoogleOauth2 {
  color: $color-white;
}

.btn-Facebook {
  background-color: $color-facebook;
}

.btn-GoogleOauth2 {
  margin-top: 5px;
  background-color: $color-google;
}
