@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "color";


/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: $color-white;
  text-decoration: none;
}

.cart_page {
  margin-top: 0;
  padding-top: 86px;
}

.product-img {
  width: 262px;
  height: 300px;
}

.header {
  position: relative;
}

.login_container {
  padding: 20px;
}

.login_btn {
  margin-top: 20px;
}
